Options +ExecCGI +FollowSymLinks
AddHandler cgi-script .py .cgi
DirectoryIndex passenger_wsgi.py

RewriteEngine On

RewriteCond %{REQUEST_URI} ^/(static|media)/ [NC,OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ passenger_wsgi.py/$1 [QSA,L]
