# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home1/paulocis/MAILING"
PassengerBaseURI "/"
PassengerPython "/home1/paulocis/MAILING/venv/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

RewriteEngine On

# Servir archivos estáticos y media directamente si existen en el disco
RewriteCond %{REQUEST_URI} ^/(static|media)/ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
